<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
</head>
<body>
    <div class="user_click">
        <!-- <a class="h1" href="/read">All User</a> -->
    </div>
    <section class="section">
        <div class="box">
        <h3 class="h3">Login Users</h3>
        <form class="forms" action="/login" method="post">
            <!-- <input class=" cs " type="text" name="username" placeholder="User Name"> -->
            <input class=" cs " type="text" name="email" placeholder="Email">
            <input class=" cs " type="password" name="password" placeholder="Password">
            <!-- <input class=" cs " type="number" name="age" placeholder="age"> -->
            <input class=" cs submit" type="submit" value="Login">
        </form>
    </div>
    </section>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>